body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#is-service-frame {
  display: none;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
