.sidebar {
  display: flex;
  width: 244px;
  height: 100vh;
  border-right: 1px solid rgb(167, 167, 167);
  background-color: rgb(43, 43, 43);
  color: rgb(246, 246, 246);
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  p {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    padding: 2px 0;
    margin: 0;
    width: 100%;
  }

  svg {
    margin: 0 15px;
  }

  .smr {
    background-color: rgb(167, 167, 167);
  }
}
